apiVersion: k3d.io/v1alpha5
kind: Simple

metadata:
  name: dp-cluster
servers: 1
agents: 2
ports:
  - port: 9080:80
    nodeFilters:
      - loadbalancer
  - port: 9443:443
    nodeFilters:
      - loadbalancer
registries:
  use: 
    - k3d-dp-registry:5003
options:
  k3s:
    extraArgs:
      - arg: --disable=traefik
        nodeFilters:
          - server:*

