apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend-dp
  namespace: dp-ns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: dp-frontend:latest
          imagePullPolicy: Never
          ports:
            - containerPort: 80
          env:
            - name: API_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: API_BASE_URL
            - name: NODE_ENV
              valueFrom:
                configMapKeyRef:
                  name: app-config
                  key: NODE_ENV
          resources:
            requests:
              memory: "64Mi"
              cpu: "50m"
            limits:
              memory: "128Mi"
              cpu: "200m"
---
apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: dp-ns
spec:
  selector:
    app: frontend
  ports:
    - port: 80